{% extends "ProOrientation/base.html" %}
{% load static %}

{% block title %}
{{ filter_object }}
{% endblock %}

{% block additional_head %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'ProOrientation/css/filter_styles.css' %}">

    
{% endblock %}

{% block content %}
    <h1>
        {{ filter_object }}
    </h1>
    <button id="toggle-filter">Фильтры</button>
<div id="configure-filter">Configure Filter</div>

    <script src="{% static 'ProOrientation/js/filter.js' %}"></script>
    
{% endblock %}
